.cards {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #05c7c0;
  padding: 40px 20px;
  margin: 5px;

  border-radius: 10px;
  border: white 1px solid;
  cursor: pointer;
  backface-visibility: hidden;
  transition: transform 0.3s ease-out;
  font-family: cursive;
  font-weight: bold;
  color: aliceblue;
  text-shadow: 3px 1px black;
}

.cards:hover {
  transform: scale(1.02);
}

@media (min-width: 320px) and (max-width: 780px) {
  .cards {
    width: 30rem;
  }
}
